.env
node_modules/

# CREATE TABLE users (
#     username VARCHAR(50) PRIMARY KEY UNIQUE NOT NULL,
#     name VARCHAR(100),
#     email VARCHAR(100) UNIQUE NOT NULL,
#     password VARCHAR(200) NOT NULL,
#     image BYTEA,
#     img_type VARCHAR(50)
# );


# CREATE TABLE enrollment (
#     id SERIAL PRIMARY KEY,
#     username VARCHAR(255) NOT NULL,
#     course_id INT NOT NULL,
#     enrollment_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
#     FOREIGN KEY (username) REFERENCES users(username), 
#     FOREIGN KEY (course_id) REFERENCES courses(id) 
# );

# CREATE TABLE courses (
#     id SERIAL PRIMARY KEY,
#     title VARCHAR(100) NOT NULL,
#     description TEXT,
#     category VARCHAR(50),
#     popularity INTEGER,
#     duration INTEGER,
#     level VARCHAR(20),
#     instructors TEXT[],
#     price INTEGER,
#     discount INTEGER,
#     new_price INTEGER,
#     start_date DATE,
#     end_date DATE,
#     requirements TEXT[],
#     skills_learned TEXT[],
#     rating DECIMAL(3, 2) 
# );
